@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monkey</title>
</head>
<body>
    <div>
hajsfjdhjh hallofdgjdfgjbgfhgffdgh
    </div>
</body>
</html>
