@using System.Data;
@using school.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post">
        <input type="radio" id="yes" name="choice" value="yes">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="choice" value="no">
        <label for="no">No</label><br>
        <input type="submit" value="Submit">
    </form>

    @if (Request.Form["choice"] == "yes")
    {
        string id = Request.QueryString["id"];
        mySongMethods.DeleteSong(id, file);
        Response.Redirect(@"~/index.cshtml");
    }
    else if (Request.Form["choice"] == "no")
    {
        Response.Redirect(@"~/index.cshtml");
    }
</body>
</html>
